# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ngx-monaco-editor-v15/v17/.wsuo
/.vs/ngx-monaco-editor-v15/config/applicationhost.config
/.vs/ngx-monaco-editor-v15/FileContentIndex/89ae301a-8718-48e1-9c6c-7dc66c0879d0.vsidx
/.vs/ngx-monaco-editor-v15/FileContentIndex/2868c559-63c8-425f-85a5-c42d2396d7f9.vsidx
/.vs/ngx-monaco-editor-v15/FileContentIndex
